div {
    font-size: 18px;

    p {
        color: blue;
    }

    ul {
        color: green;
    }
}

// div {
//     font-size: 24px;
//     color: green;
// }
ul {
    font-size: 24px;
    color: red;
}

p {
    font-size: 24px;
    color: red;
}